<header class="header">
  <button tuiIconButton (click)="toggleSideNav()" aria-label="side nav menu">
    <tui-icon icon="@tui.menu" />
  </button>
  <span class="title">Finance Tracker</span>

  <span class="spacer"></span>

  @if (isAuthenticated) {
    <button tuiButton appearance="secondary" (click)="clickAddFinanceButton()">Add Finances</button>

    <div class="user-menu">
      <button tuiIconButton>
        <span class="user-name">{{ displayName }}</span>
      </button>
      <button tuiButton appearance="flat" (click)="handleLogout()">
        <tui-icon icon="@tui.log-out" />
        Logout
      </button>
    </div>
  } @else {
    <button tuiButton appearance="secondary" (click)="clickAddFinanceButton()" [disabled]="true">
      Add Finances
    </button>

    <button tuiButton appearance="primary" class="sign-in-button" (click)="clickSignInButton()">
      Sign In
    </button>
  }
</header>
