<mat-toolbar>
  <button matIconButton (click)="toggleSideNav()" aria-label="side nav menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Finance Tracker</span>

  <span class="spacer"></span>

  @if (isAuthenticated) {
    <button matButton="tonal" (click)="clickAddFinanceButton()">Add Finances</button>
  } @else {
    <button matButton="tonal" (click)="clickAddFinanceButton()" disabled>Add Finances</button>
  }

  <button mat-raised-button class="sign-in-button" (click)="clickSignInButton()">
    {{ isAuthenticated ? 'Sign Out' : 'Sign In' }}
  </button>
</mat-toolbar>
