@use './app/core/styles/design-system.scss' as ds;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: ds.$background;
  color: ds.$on-surface;
}

.auth-modal-panel {
  border-radius: 16px;
  overflow: hidden;
}
