@use '@angular/material' as mat;
@use './app/styles/theme-colors' as theme;
@use './app/core/styles/design-system.scss';

@include mat.core();

html {
  height: 100%;
  @include mat.all-component-themes(theme.$light-theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-themes(theme.$dark-theme);
  }
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.auth-modal-panel {
  .mat-mdc-dialog-container {
    --mdc-dialog-container-padding: 0;
    --mdc-dialog-container-shape: 16px;
  }
}
