<div class="entry-modal-container">
  <h2>Add Transaction</h2>

  <form [formGroup]="entryFormGroup">
    <div class="form-content">
      <div class="form-field full-width">
        <label for="category">Category</label>
        <select id="category" formControlName="category" class="tui-input">
          @for (category of categoryOptions; track category) {
            <option [value]="category">{{ getCategoryLabel(category) }}</option>
          }
        </select>
      </div>

      <tui-textfield class="full-width">
        <ng-template tui-label>Amount</ng-template>
        <input tuiInput type="number" formControlName="amount" />
      </tui-textfield>

      <tui-textfield class="full-width">
        <ng-template tui-label>Date</ng-template>
        <input tuiInput type="date" formControlName="date" />
      </tui-textfield>
    </div>

    <div class="dialog-actions">
      <button tui-button type="button" (click)="closeDialog()">Close</button>
      <button
        tui-button
        appearance="primary"
        type="button"
        [disabled]="entryFormGroup.invalid"
        (click)="saveDialog()"
      >
        Add
      </button>
    </div>
  </form>
</div>
