<h2 mat-dialog-title>Add Transaction</h2>

<form [formGroup]="entryFormGroup">
  <mat-dialog-content class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            @for (category of categoryOptions; track $index) {
              <mat-option [value]="category.value">{{ category.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a Date"
            formControlName="date"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" (click)="closeDialog()">Close</button>

    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="entryFormGroup.invalid"
      (click)="saveDialog()"
    >
      Add
    </button>
  </mat-dialog-actions>
</form>
