<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav opened mode="side" class="sidenav">
    <nav class="nav-links">
      <a mat-button routerLink="/dashboard" class="link">Dashboard</a>
      <a mat-button routerLink="/breakdown" class="link">Breakdown</a>
      <a mat-button routerLink="/transactions" class="link">Transactions</a>
      <a mat-button routerLink="/configuration" class="link">Configuration</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="main">
    <!-- Header -->
    <app-header
      (sideNavClicked)="sidenav.toggle()"
      (addFinanceClicked)="handleAddFinanceClicked()"
    ></app-header>

    <!-- Routed Page -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer class="footer">Finance Tracker Footer</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
