<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav opened mode="side" class="sidenav">
    <div class="sidebar-wrapper d-flex flex-column h-100">
      <div class="sidebar-top d-flex justify-content-center pt-3 pb-3">
        <span
          [matTooltip]="addButtonDisabled ? toolTip.ADD_BUTTON_TOOLTIP : toolTip.ADD_FINANCE_ENTRY"
          matTooltipPosition="right"
        >
          <button
            mat-fab
            [disabled]="addButtonDisabled"
            (click)="handleAddFinanceClicked()"
            [attr.aria-label]="toolTip.ADD_BUTTON_TOOLTIP"
          >
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </div>

      <nav class="nav-links d-flex flex-column gap-2 px-3 py-2">
        @for (item of navItems; track item.route) {
          <app-sidebar-item [item]="item"></app-sidebar-item>
        }
      </nav>

      <div class="sidebar-bottom d-flex justify-content-center mt-auto p-3">
        @if (isAuthenticated()) {
          <button mat-button class="sign-in-button" (click)="handleLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        } @else {
          <button mat-button class="sign-in-button" (click)="handleSignInClicked()">
            <mat-icon>login</mat-icon>
            <span>Sign In</span>
          </button>
        }
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main">
    <div class="content p-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
